
<div class="container-fluid">

	<div id="header" class="row">
		<div class="col-xs-12">
			<img src="/images/logo_glasses.png" height="79" width="101" alt="Logo" />
			<ul id="nav">
				<li><a href="#expertise">Expertise</a></li>
				<li><a href="#portfolio">Portfolio</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div><!-- #header -->

	<div id="welcome" class="row">
		<div class="col-xs-12">
			<h3><span id="welcome-txt">welcome</span></h3>
			<div id="intro">
				<p>My name is Scott Stadt, and I love to build</p>
				<h1>Beautiful Websites</h1>
				<p>I’m a web developer and designer currently located in Saint Charles, IL. My design and development skills range from simple brochure style websites with semantic, search engine friendly markup, to fully database-driven web applications. My Photoshop skills are strong, and I am focused on design patterns that drive website conversions. Above all the web is my home, and one true passion.</p>
			</div>
			<h3></h3>
		</div>
	</div><!-- #welcome -->

	<div id="u-trim" class="row"></div>
	<div id="expertise" class="row">
		<div class="col-xs-12 col-sm-6">
			<div id="design">
				<h2>Design</h2>
				<ul>
					<% _.each(design, function (skill) { %>
						<li><%= skill.name %></li>
					<% }) %>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div id="development" class="pull-right">
				<h2>Development</h2>
				<ul>
					<% _.each(development, function (skill) { %>
						<li><%= skill.name %></li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div><!-- #expertise -->
	<div id="l-trim" class="row"></div>

	<div id="portfolio" class="row">
		<div class="col-xs-12">
			<h3><span id="portfolio-txt">portfolio</span></h3>
			
			<a href="#" id="pf-prev">Previous</a>
			<div id="pf">
				<div id="pf-content">
					<% _.each(projects, function (project) { %>
						<div class="project">
							<img src="<%= project.image %>">
							<a href="<%= project.link %>" target="_blank" class="link"></a>
							<div>
								<h2><%= project.name %></h2>
								<p><%= project.skills %></p>
								<p><%= project.description %></p>
							</div>
						</div><!-- .project -->
					<% }) %>
				</div><!-- #pf-content -->
			</div>
			<a href="#" id="pf-next">Next</a>
		</div>
	</div><!-- #portfolio -->

	<div id="contact" class="row">
		<div class="col-xs-12">
			<h3><span id="contact-txt">contact</span></h3>
		</div>
		
		<div id="contact-info" class="col-xs-12 col-md-6">
			<h2>Get in Touch...</h2>
			<p>The best way to reach me is through the contact form at the right.</p>
			<p>I’m usually near my phone or other device so my response times can be pretty quick... but just in case, here are some other ways to get ahold of me:</p>
			<ul>
				<% _.each(links, function (link) { %>
					<li><%= link.name %>: <a href="<%= link.link %>"><%= link.caption %></a></li>
				<% }) %>
			</ul>
		</div><!-- #contact-info -->
		
		<div id="contact-form" class="col-xs-12 col-md-6">
			<!-- contact form goes here -->
			<form>
				<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" />
				</div>
				<div class="form-group">
					<label>Email Address</label>
					<input type="text" class="form-control" />
				</div>
				<div class="form-group">
					<label>Subject</label>
					<input type="text" class="form-control" />
				</div>
				<div class="form-group">
					<label>Message</label>
					<textarea class="form-control"></textarea>
				</div>
				<div class="form-group">
					<input type="submit" class="submit" value="Submit" />
				</div>
			</form>
		</div><!-- #contact-form -->

	</div><!-- #contact -->

	<div id="footer" class="row">
		<div class="col-xs-12">
			<p>Powered by <a href="http://sailsjs.org/#/">Sails.js</a>. &copy;<%= new Date().getFullYear() %> <%= sails.config.globals.site.title %></p>
		</div>
	</div>

</div>

<div id="scroll-top"><a href="#top"></a></div>

<script src="/js/vendor/requirejs/require.js" data-main="/js/portfolio-app.js"></script>

